@{
    ViewData["Title"] = "ConfirmEmail";
}

<div class=" mb-3">

    <div class=" col-md-6 offset-3 alert alert-success text-center">
       
        <h3 style="font-family:Dubai;padding:20px">Thank you for confirming your email, you can now login with your username and password</h3>
       
    </div>
</div>
 
