<div class=" mb-3">

    <div class=" col-md-6 offset-3 alert alert-success text-center">
       
        <h3 style="font-family:Dubai;padding:20px">Your Account was succesfully created. please check your email to verify your account</h3>
       
    </div>
</div>