<div class=" mb-3">

    <div class=" col-md-6 offset-3 alert alert-success text-center">
       
        <h2 style="font-family:georgia,garamond,serif; padding-bottom:20px">YOUR ACCOUNT WAS SUCCESSFULLY CREATED!!!</h2>
       
    </div>
</div>