@{
    ViewData["Title"] = "Reset Password";
}

<div class=" mb-3">

    <div class=" col-md-6 offset-3 alert alert-success text-center">
       
        <h3 style="font-family:Dubai;padding:20px">Your password is reset. Please click <a asp-action="Login">here to login</a> </h3>
       
    </div>
</div>
 
