<div class=" mb-3">

    <div class=" col-md-6 offset-3 alert alert-success text-center">
        <div class="align-middle" style="padding:50px">
            <img class=" rounded-circle" src = "https://drive.google.com/uc?id=1j7TZuUgc1MHwrdBpHTFbIeh3Mv3_rFim" style ="max-width:300px"/>
        </div>
        <h2>ORDER COMPLETED SUCCESSFULLY</h2>
        <p>You can monitor all orders from the orders section of your profile</p>
        <hr />
        <p>THANKS FOR SHOPPING WITH US !!!!</p>
    </div>
</div>