@{
    ViewData["Title"] = "About Us";
}
 <div class="container_about">
        <img src="~/Image/aboutus.jpg" alt=img class="bg-image">    
    </div>

<div class= "about">
    <div class="about-1a">
        <h1 style="padding-bottom: 3%">ABOUT US</h1> 
        <p>A determined entrepreneur from Kingston, St. Andrew parish named Howard Brown established HB Online Tyres in 2022 in Kingston, Jamaica.
           The business believes in offering customers a comprehensive selection of name-brand tyres for cars of all makes and models in all shapes and sizes. 
           We promote extensive island-wide delivery and offer no-cost fitting on all passenger tyres.
          
        </p>
         <div class="about-1a">
        <h1>WHY CHOOSE US</h1> 
    </div>
    </div>
    <div id="about-2">
        <div class="content-box-lg">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="about-item text-center">
                            <i class="fade fa-book"></i> 
                            <h3>BEST FACILITY</h3>
                            <hr>
                            <p>State of Art sales and services facility in Kingston, offering Island wide delivery </p>

                        </div>
                    </div>
                     <div class="col-md-4">
                        <div class="about-item text-center">
                            <i class="fade fa-book"></i>
                            <h3>EXPERT KNOWLEDGE</h3>
                            <hr>
                            <p>We pair priceless local knowledge with Best-in-Class, International Leadership. </p>

                        </div>
                    </div>
                     <div class="col-md-4">
                        <div class="about-item text-center">
                            <i class="fade fa-book"></i>
                            <h3>TOP QUALITY PERFORMANCE</h3>
                            <hr>
                            <p>If you're looking for performance tires, our ranking of the top models can set you on the proper course. </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
<div class="faq">

     <h1>FREQUENTLY ASKED QUESTIONS</h1> 

    <div class="container">
        <div class="accordion">
            <div class="accordian-item" id="question1">
                <a class="accordion-link" href="#">
                    1. What Should I Consider Before Buying New Tires?                 
                </a>
                <div class="answer">
                    <p>
                     Before buying new tyres we like to ask a few questions such as;
                     - The make and model of your car
                     - How often you'd drive as well as how much time spent on driving each day
                    </p>                   
                </div>
            </div>
            <div class="accordian-item" id="#">
                <a class="accordion-link" href="#">
                    2. Is there a warranty on my Tyres?
                </a>
                <div class="answer">
                    <p>
                      Yes! Depending on the tyre model and manufacturer of tyre purchase, 
                      it is advised to hold onto instructions from the manufacturer on the tyre warranty and your sales receipt when problem should arise.

                    </p>
                    
                </div>
            </div>
            <div class="accordian-item" id="question3">
                <a class="accordion-link" href="#">
                    3. Do I Need to Have My Tires Rotated?
                </a>
                <div class="answer">
                    <p>
                      Yes you should consider getting your tires rotated every 5,000 to 7,000 miles.
                    </p>
                </div>
            </div>
            <div class="accordian-item" id="question4">
                <a class="accordion-link" href="#">
                    4. Disregarding mileage, how long is the life of a tyre?
                </a>
                <div class="answer">
                    <p>
                     HB Online Tyres follows the recommendations of the industry associations regarding tire life and inspection guidelines. 
                     We recommend that, in addition to regular tyres inspections, customers have their tyres inspected by a qualified tyre service person after five (5) years of use to determine if the tires can continue in service.                                       
                    </p>
                    
                </div>
            </div>
            <div class="accordian-item" id="question5">
                <a class="accordion-link" href="#">
                    5. How often should i check my air pressure?
                </a>
                <div class="answer">
                    <p>
                     Check the air pressure in your tyres (including spares) monthly and before long trips or carrying extra weight.
                     Be sure to use an accurate pressure gauge. Check inﬂation pressure when the tires are “cold.” 
                     Tyres are considered “cold” when the vehicle has been parked for three hours or more, or if the vehicle has been driven less than a mile (1.6 km) at moderate speed.
                    </p>
                    
                </div>
            </div>

        </div>
    </div>

</div>

 <div class="container-map">
        <h1>WHERE TO FIND US</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3794.7135592175423!2d-76.81599568563857!3d17.9920587898206!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8edb3fe898000875%3A0x799ec94bdc11bc32!2sBowen%20Rd%2C%20Kingston!5e0!3m2!1sen!2sjm!4v1657477113027!5m2!1sen!2sjm" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>










  
 




