
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    

    <div class="hero">

        <video autoplay loop muted plays-inline class="back-video">
             <source src="~/Image/dynapro_main.mp4" type="video/mp4">

        </video>

        <div class="content">
            <h1>HB Online Tyres </h1>
            <h4>Tyre Up and Drive</h4>
            <a href="#">Explore</a>
        </div>

     </div>

     <div class="featured">

         <h3 class="text-center" style="padding:30px">FEATURED ITEMS </h3>

         <div class="container1">
              <img src="~/Image/JK tyre.png" alt="img" class="image">
              <div class="overlay overlayLeft">
                <div class="text">JK-205/65</div>
              </div>
            </div>

             <div class="container1">
              <img src="~/Image/pilot-sport-5-4.jpg" alt=img class="image">
              <div class="overlay overlayLeft">
                <div class="text">Pilot Sport 5-4</div>
              </div>
            </div>
              <div class="container1">
              <img src="~/Image/JK tyre.png" alt="img" class="image">
              <div class="overlay overlayLeft">
                <a class="text" href="https://localhost:7016/Inventory/Details/13"> Maxxis Bravo HB M3 (195/55/R16) </a>
              </div>
            </div>

             <div class="container1">
              <img src="~/Image/pilot-sport-5-4.jpg" alt=img class="image">
              <div class="overlay overlayLeft">
                <div class="text">Pilot Sport 5-4</div>
              </div>
            </div>
             <div class="container1">
              <img src="~/Image/pilot-sport-5-4.jpg" alt=img class="image">
              <div class="overlay overlayLeft">
                <div class="text">Pilot Sport 5-4</div>
              </div>
            </div>

         

     </div>

     <div class= "Brands">

        <h3 class="text-center" style="padding:30px"> OUR BRANDS </h3>
    
        <div class="first"> <img src="~/Image/Goodyear-Company-Logo.jpg" alt=img class="image2"/></div>

        <div class="second"><img src="~/Image/michelin-logo.jpg" alt=img class="image2"/></div>

        <div class="third"> <img src="~/Image/Maxxis-Tires-logo.png" alt=img class="image2"/></div>

        <div class="fourth"> <img src="~/Image/Hankook_Tire_logo.png" alt=img class="image2"/> </div>
    </div>

</div>