
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    

    <div class="hero">

        <video autoplay loop muted plays-inline class="back-video">
             <source src="~/Image/dynapro_main.mp4" type="video/mp4">

        </video>

        <div class="content">
            <h1>HB Online Tyres </h1>
            <h4>Tyre Up and Drive</h4>
            <a class="hov " href="https://localhost:7016/Inventory/Products">Explore</a>
        </div>

     </div>

     <div class="featured">

         <h3 class="text-center" style="padding:30px">FEATURED ITEMS </h3>

             <div class="container1">
              <img src="~/Image/Tyres/Defender-T+H.png" alt=img class="image">
              <div class="overlay overlayLeft">
                 <a class="text" href="https://localhost:7016/Inventory/Details/3"> Defender T Plus H  235/50 R17 </a>
              </div>
            </div>
              <div class="container1">
              <img src="~/Image/Tyres/Hp-M3.jpg" alt="img" class="image">
              <div class="overlay overlayLeft">
                <a class="text" href="https://localhost:7016/Inventory/Details/27"> Bravo HP M3 195/55 R16 </a>
              </div>
            </div>

             <div class="container1">
              <img src="~/Image/Tyres/Dynapro-MT2.jpg" alt=img class="image">
              <div class="overlay overlayLeft">
                 <a class="text" href="https://localhost:7016/Inventory/Details/8"> Dynapro MT2 RT05 315/70 R17 </a>
              </div>
            </div>
             <div class="container1">
              <img src="~/Image/Tyres/goodyear-efficientgrip.jpg" alt=img class="image">
              <div class="overlay overlayLeft">
                 <a class="text" href="https://localhost:7016/Inventory/Details/6"> Good Year EfficientGrip 255/40 R18 </a>
              </div>
            </div>       

     </div>
     <div>

          <h3 class="text-center" style="padding:30px">TYRE SIZE GUIDE </h3>
                 
           <div class="paragraph" style="padding-left: 8%; padding-right:8%;">
             <p> The size of a tyre is printed onto the side of the tyre – on the area known as the sidewall. 
                 When looking for the size, you will see that it is made up of a series of numbers and letters. 
                 Once you have your tyre size explained, it is quite easy to understand. Regardless of whether you have new or part worn tyres, their sidewall has a set of measurement printed onto it. A combination of letters and numbers form these codes.  
                For understanding, assume that you find the following information on the sidewall of your tyre: 
                <b>205/65 R15 94H  </b>
                Let’s have a look at the individual set of numerals and see what they mean.           
                      </p>
             </div>     
           <div class="imgsize" style="padding-left:10%; ">
                    <img src="~/Image/Tyre_size.png" style="max-width: 80%;padding-top: -500px" alt=img>
           </div>              

             <div class="paragraph" style="padding-left: 8%; padding-right:8%">
                 <p> <h5> Width</h5>
                     Finding tyre width is the first component when it comes to having your tyre size explained. The first three numbers at the 
                     beginning of the size refer to the width of the rubber. The width represents the distance from one sidewall of the tyre to 
                     the other in millimetres. In our example, the tyre width is 205 millimetres. <br /><br />
 
                    <h5>Aspect Ratio </h5> 
                    Understanding the next two numbers right after the slash is the next step to have the tyre size explained. 
                    These numbers refer to the aspect ratio, which is the ratio of the height of the tyre’s sidewalls to its width. 
                    The height of a tyre’s sidewall is positively related to its aspect ratio. The aspect ratio in our example is 65. 
                    It means the size of tyre’s sidewall is equal to 65 per cent of the tyre’s width. <br /><br />
 
                    <h5>Radial Construction </h5>
                    The first letter after the aspect ratio tells us about the construction or the variety of the tyre. The tyre types 
                    include diagonal (D), bias belt (B), radial (R), and others. Let’s take a look at this letter in our example, and we 
                    can see that ‘R’ denotes the tyre construction. It means it has a radial construction and the layers follow a radial 
                    pattern across the tyre. <br /> <br />
 
                    <h5>Diameter </h5> 
                    The numbers after tyre construction refer to the diameter of the tyre stated in inches. To have the tyre size explained 
                    simply, it is the size of the tyre from one end to the other. The numbers after the letter R in our example are ‘15’, telling 
                    the diameter of the tyre is 15 inches.  Tyre diameter is relatively crucial to note out of other details because it shows the 
                    rim over which the tyre would fit. Let’s say your rim is 12 inches, and your tyre has a diameter of 16. In this case, the tyre 
                    is not appropriate for the rim. <br /> <br />

                    <h5>Load Index </h5>
                    Let’s move on to the next, and the final numbers in our tyre size explained guide. These numbers are a code that tells you 
                    of the maximum load your tyres can handle. However, to decrypt this code into weight denominated in kilograms, you will have 
                    to consult the tyre load index ratings. <br /> <br />
  
                    <h5>Speed Rating </h5>
                    The letter at the end of the size informs us of the maximum speed the tyre can handle after we fit it correctly by filling 
                    the recommended air pressure. But same as the load index, you must decipher this symbol into speed stated in kilometers per
                    hour by using the car tyre speed symbol ratings.
                </p>
      
             </div>
            
     </div>

     <div class= "Brands">

        <h3 class="text-center" style="padding:30px"> OUR BRANDS </h3>
    
        <div class="first"> <img src="~/Image/Goodyear-Company-Logo.jpg" alt=img class="image2"/></div>

        <div class="second"><img src="~/Image/michelin-logo.jpg" alt=img class="image2"/></div>

        <div class="third"> <img src="~/Image/Maxxis.png" alt=img class="image2"/></div>

        <div class="fourth"> <img src="~/Image/Hankook_Tire_logo.png" alt=img class="image2"/> </div>
    </div>

</div>

