@model NewTyreVM
@using HBOnlineTyresApp.Data.ViewModels
 
@{
    ViewData["Title"] = "Edit Tyre";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>Update Tyre</h4>
        </p>

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Edit">
                   <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                           
                            <div class="form-group">
                                <label asp-for="ImageURL" class="control-label"></label>
                                <input asp-for="ImageURL" class="form-control" />
                                <span asp-validation-for="ImageURL" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="CategoryId" class="control-label"></label>
                                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                                <span asp-validation-for="CategoryId" class="text-danger"></span>
                            </div>
                           
                            <div class="form-group">
                                <label asp-for="ManufacturerId" class="control-label"></label>
                                <select asp-for="ManufacturerId" class="form-control" asp-items="ViewBag.ManufacturerId"></select>
                                <span asp-validation-for="ManufacturerId" class="text-danger"></span>
                            </div>
                           
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <textarea asp-for="Description" class="form-control" rows="6"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 offset-4 text-center">
                        <img width="100%" id="ImageUrlPreview" />
                    </div>

                    <div class="form-group">
                          @if(User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
                             {
                               @*<input type="submit" value="Update" class="btn btn-outline-success float-end" />*@ 
                                 <button data-id="@Model.Id" class="btn btn-outline-success float-end EditBtn" type="button"> Update </button>
                                <a class="btn btn-outline-secondary" asp-action="Index">Show all</a>
                             }
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>

  <form asp-action="Edit" id="updateForm" >
   <input type="hidden" id="updateId" name="Id"/>
  </form>

@section Scripts {
    <script>
        $(document).ready(function(){
            var output = document.getElementById('LogoPreview');
            output.src = $("#LogoURL").val();

        })
        $("#LogoURL").on("change", function (){
            var output = document.getElementById('LogoPreview');
            output.src = $(this).val();
        })


            $('.EditBtn').click(function(e) {
                swal({
                    title: "Update Record",
                    text: "Are you sure you want to update this record?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                }).then((confirm) => {
                        if(confirm){
                            var btn = $(this);
                            var id = btn.data("id");
                            $('#updateId').val(id);
                            $('#updateForm').submit();
                        }
                    });
            });
        });
    </script>
}