
@inject UserManager<ApplicationUser> UserManager;

@if (User.Identity.IsAuthenticated)
{
            @*user profile*@
        <div class="dropdown">
            <button class="btn btn-danger dropdown-toggle" type="button" id="profile-btn" data-bs-toggle="dropdown"
                    aria-expanded="false" style="font-family:Dubai">
                <i class="bi bi-person-badge"></i> @UserManager.GetUserName(User)
            </button>
            <ul class="dropdown-menu" aria-labelledby="profile-btn">
                <li>
                    <a class="dropdown-item" asp-controller="Orders" asp-action="Index">
                        <i class="bi bi-list"></i> Orders
                    </a>
                </li>
                @if(User.IsInRole("Administrator"))
                {<li>
                    <a class="dropdown-item" asp-controller="Account" asp-action="Users">
                        <i class="bi bi-people"></i> Users
                    </a>
                </li>
                }
                
            </ul>
        </div>
        <span style=" padding: 5px"> </span>
        <form asp-controller="Account" asp-action="Logout">
            <button class="btn btn-danger my-2 my-sm-0" style="font-family:Dubai">
                <i class=" bi bi-box-arrow-in-right"></i> Sign Out
            </button>
    </form>
}
else
{
    <a class="btn btn-danger my-2 my-sm-0" asp-controller="Account" asp-action="Login" style="font-family:Dubai">
    <i class="bi bi-box-arrow-in-right"></i> Sign In
    </a>
    <span style="padding-left:10px"></span>
    <a class="btn btn-danger my-2 my-sm-0" asp-controller="Account" asp-action="Register" style="font-family:Dubai">
        <i class="bi bi-person-plus"></i> Sign Up
    </a>
    <span style="padding-left:10px"></span>
}

<form id="deleteForm" asp-action="Logout">
    <input type="hidden" id="invid" name="id"/>
</form>
 @section Scripts{
    <script>
        $(function(){
            $('.table').DataTable();
            $('.deleteBtn').click(function(e){
                swal({
                    title: "Your about to delete a record!!!",
                    text: "Are you sure you want to deleted this record?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                }).then((confirm) =>{
                    if(confirm){
                        var btn = $(this);
                        var id = btn.data("id");
                        $('#invid').val(id);
                        $('#deleteForm').submit();
                        swal("Deleted!", "Your Record has been Deleted", "success");
                        
                    }
                });
            });
        });
    </script>
}


